<app-spinner img="../assets/img/pokeball-spinner.gif" *ngIf="loading" class="loading image"></app-spinner>
<div class="loading message" *ngIf="loading">
   <h1>Loading, please wait...</h1>
   <p>(Getting data for your selected pokemon...)</p>
</div> 
<div *ngIf="pokemon">
  <img [src]="pokemon.sprites.front_default"/>
  <h2>{{ pokemon.name | uppercase }}</h2>
  <div>
    <span>Pokedex #{{pokemon.id}}</span>
  </div>
  <div>
    <span>Type (Primary): </span>{{pokemon.types[0].type.name | titlecase}}
  </div>
  <div *ngIf="pokemon.types.length > 1">
    <span>Type (Secondary): </span>{{pokemon.types[1].type.name | titlecase}}
  </div>
  <div>
    <span>Abilities: </span>
    <span *ngFor="let ability of pokemon.abilities; let i = index" class="ability" [ngClass]="{'hidden': ability.is_hidden}">
        {{ability.ability.name | titlecase}}{{ability.is_hidden ? '*' : ''}}{{i === pokemon.abilities.length - 1 ? '' : ', '}}
    </span>
  </div>
  <div>
    <label>name:
      <input [(ngModel)]="pokemon.name" placeholder="name">
    </label>
  </div>
</div>
<br>
<button (click)="goBack()">go back</button>