<h2>
  Pokemon List
</h2>
<app-spinner img="../assets/img/pokeball-spinner.gif" *ngIf="loading" class="loading image"></app-spinner>
<div class="loading message" *ngIf="loading">
   <h1>Loading, please wait...</h1>
</div>
<div *ngIf="pokedex">
  <select [(ngModel)]="selected" (ngModelChange)="updateGen(selected)">
    <option *ngFor="let gen of gens" [value]="gen">Generation {{gen}}</option>
  </select>
  <ul class="pokemon">
    <li *ngFor="let pokemon of pokedex.pokemon_entries">
      <a routerLink="/detail/{{pokemon.entry_number}}" *ngIf="minEntry <= pokemon.entry_number && pokemon.entry_number <= maxEntry">
        <span class="name">{{pokemon.pokemon_species.name | titlecase}}</span>
      </a>
    </li>
  </ul>
</div>

