/* DashboardComponent's private CSS styles */
[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }
  a {
    text-decoration: none;
  }
  *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  h3 {
    text-align: center; margin-bottom: 0;
  }
  h4 {
    position: relative;
  }
  .grid {
    margin: 0;
  }
  .col-1-4 {
    width: 25%;
  }
  .module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 200px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
  }
  .module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  /*module coloring for pokemon types*/
  .module.pokemon.normal {
    background-color: rgb(168, 161, 139);
  }
  .module.pokemon.fire {
    background-color: rgb(255, 162, 100);
    color: rgb(41, 41, 41);
  }
  .module.pokemon.fighting {
    background-color: darkred;
  }
  .module.pokemon.water {
    background-color: rgb(47, 130, 240);
  }
  .module.pokemon.flying {
    background-color: rgb(129, 114, 185);
  }
  .module.pokemon.grass {
    background-color: rgb(49, 170, 75);
  }
  .module.pokemon.poison {
    background-color: rgb(104, 8, 133);
  }
  .module.pokemon.electric {
    background-color: rgb(253, 226, 70);
    color: rgb(41, 41, 41);
  }
  .module.pokemon.ground {
    background-color: rgb(221, 187, 114);
    color: rgb(41, 41, 41);
  }
  .module.pokemon.psychic {
    background-color: rgb(226, 105, 186);
  }
  .module.pokemon.rock {
    background-color: rgb(131, 98, 67);
  }
  .module.pokemon.ice {
    background-color: rgb(114, 209, 253);
    color: rgb(41, 41, 41);
  }
  .module.pokemon.bug {
    background-color: rgb(128, 202, 59);
    color: rgb(41, 41, 41);
  }
  .module.pokemon.dragon {
    background-color: rgb(56, 7, 146);
  }
  .module.pokemon.ghost {
    background-color: rgb(51, 21, 51);
  }
  .module.pokemon.dark {
    background-color: rgb(36, 36, 36);
  }
  .module.pokemon.steel {
    background-color: grey;
    color: rgb(41, 41, 41);
  }
  .module.pokemon.fairy {
    background-color: violet;
    color: rgb(41, 41, 41);
  }

  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }